.chart{
    margin-left: 70px;
    width: 850px;
    height: 700px;
    justify-content: end;
    flex-grow: 2;
    overflow-y: auto;
    overflow-x: auto;
}
.canvasjs-chart-credit{
    color: antiquewhite;
    font-size-adjust: 0px;
}