<div class="sidenav">
    <div class="svg_page">
        <img src="./assets/dark-logo.svg" alt="photo error!">
    </div>
    <div class="home">
        <ul>
            <li class="homes"> HOME</li>
            <li class="dashboards" routerLink="dashboards" >
                <mat-icon >dashboard</mat-icon><span>Dashboard</span>
                
              <!-- <mat-accordion>
                <mat-expansion-panel  style=" box-shadow: none !important; border: none !important;" hideToggle>
                  <mat-expansion-panel-header >
                <mat-panel-title   >
                      <mat-icon style="margin: 0px;">dashboard</mat-icon> <span>Dashboard</span>
                </mat-panel-title> 
                </mat-expansion-panel-header>
                      <li class="token" style="margin: 10px;"> <mat-icon>token</mat-icon> <span>Badge</span> </li>
                      <li class="chips" style="margin: 10px;"> <mat-icon>camera</mat-icon>  <span>CHIPS</span></li>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"(closed)="panelOpenState = false">                    
                </mat-expansion-panel>
              </mat-accordion>   -->
            </li>
            <li class="uii">UI Componenets</li>
            <li class="token"> <mat-icon>token</mat-icon> <span>Badge</span> </li>
            <li class="chips"> <mat-icon>camera</mat-icon>  <span>CHIPS</span></li>
            <li class="chips"> <mat-icon>list</mat-icon> <span>List</span></li>
            <li class="chips"> <mat-icon>collections_bookmark</mat-icon> <span>Menu</span></li>
            <li class="chips"> <mat-icon>sms</mat-icon> <span>Tooltips</span></li>
        </ul>
        <ul>
            <li class="auth">AUTH</li>
            <li  class="chips"> <mat-icon>lock</mat-icon> <span>Login</span></li>
            <li class="chips"> <mat-icon>person_add</mat-icon> <span>Register</span></li>
            <li class="auth">EXTRA</li>
            <li class="chips"> <mat-icon>sentiment_satisfied</mat-icon> <span>Icons</span></li>
            <li class="chips"> <mat-icon>cyclone</mat-icon> <span>Simple</span></li>
        </ul>
   <div class="page_button">  <button class="upgrade">Upgrade To Pro</button></div>
      
    
    </div>
    
    
</div>