<div class="parent">
    <div class="card">
        <div class="logo">
           
          

        </div>
        <div class="glass"></div>
        <div class="content">
            <span class="title">Client</span>
            <span class="text">Numbers </span>
        </div>
        <div class="bottom">
            
           
            <div class="view-more">
                <button class="view-more-button">View more</button>
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
            </div>
        </div>
    </div>
</div>